<div class="contComponent p-1">
    <div class="contTitle p-3 border-bottom">
        <h3>Upload Images</h3>
    </div>
    <div class="contPrediction d-flex flex-column p-2 gap-3">
        <div class="contSelectPatient">
            <label for="basicSelect" class="form-label">Seleccione un paciente</label>
                <select class="form-select" id="basicSelect" aria-label="Seleccionar opción">
                    <option selected>Elige una paciente</option>
                    <option value="1">Maria Suarez</option>
                    <option value="2">Pablo Neruda</option>
                    <option value="3">Sydney Sweeney</option>
                </select>
        </div>
        <div class="PatientDates">
            <div class="card" style="width: w-full;">
                <div class="card-body">
                    <h5 class="card-title">Datos del paciente</h5>
                    <p class="card-text">Este es un texto breve que describe el contenido de la tarjeta.</p>
                </div>
            </div>
        </div>
        <div class="card p-2">
            <form>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Suba las imagenes porfavor:</label>
                    <input class="form-control" type="file" id="formFile" accept="image/*">
                </div>
            </form>
        </div>
    </div>
    <div class="button mt-3 mb-4 d-flex justify-content-center">
        <a href="#" class="btn btn-primary">Generar Reporte</a>
    </div>
</div>
