<div class="contPri">
    <div class="contTitle w-full p-5 text-center">
        <h1>Lung Cancer AI</h1>
        <p>Un innovador sistema de predicción de cáncer de pulmón utiliza técnicas de aprendizaje profundo para analizar imágenes PET y detectar tipos específicos de cáncer con alta precisión, facilitando un diagnóstico temprano y oportuno.</p>
    </div>
    <div class="contButton p-3 d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-primary">Conoce nuestro modelo</button>
    </div>
</div>